---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a dedicated and solution-oriented Full Stack Developer with a strong
    foundation in JavaScript and Python. Over the course of three years, I
    worked at a leading EQA provider in Africa, where I utilized Python along
    with its powerful libraries such as Django, Numpy, Pandas, and Matplotlib to
    build robust and efficient solutions. My expertise lies in back-end
    development, data manipulation, and visualization, where I used these tools
    to design, develop, and maintain sophisticated web applications. I am
    seeking new challenges and opportunities to apply my coding skills and
    problem-solving abilities to drive business growth and create seamless user
    experiences.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Kenya Methodist University"
      subtitle="2014 to 2017 at Kenya Methodist University, Nairobi, Kenya"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Systems Support Officer at Human Quality Assessment Services"
      subtitle="From April 2019 to June 2023 at HuQAS, Nairobi, Kenya"
      desc="As a Systems Support Officer at Human Quality Assessment Services (HuQAS), I significantly improved system performance by modernizing a legacy Python/Django codebase and developing RESTful APIs. I built efficient applications using object-oriented programming, managed relational databases, and led a critical re-architecture of the backend platform. Furthermore, I streamlined deployment processes using Gitlab CI/CD pipeline and Docker and implemented stringent testing measures to reduce post-deployment bugs. I consistently adhered to coding standards to maintain code quality across a team of 3 developers. I am ready to leverage these experiences to tackle new challenges."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.freecodecamp.org/certification/tonynyagah/responsive-web-design"
        target="_blank"
      >
        Responsive Web Design</a
      >
    </li>
    <li>
      <a
        href="https://www.freecodecamp.org/certification/tonynyagah/javascript-algorithms-and-data-structures"
        target="_blank">JavaScript Algorithms and Data Structures</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>JavaScript</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Django</li>
    <li>React</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Git</li>
    <li>SQL</li>
    <li>Linux</li>
    <li>REST</li>
    <li>GraphQL</li>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>Vue.js</li>
  </ul>
</BaseLayout>
