---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<!--  
---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Elevator Pitch">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Personal Elevator Pitch</div>
    </div>

    <div class="aspect-w-16 aspect-h-9">
        <iframe class="w-full h-full" src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
    </div>

    <div class="flex justify-center items-center h-screen">
        <div class="w-1/2">
            <div class="aspect-w-16 aspect-h-9">
                <iframe class="w-full h-full" src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</BaseLayout>
-->
<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Personal Elevator Pitch</div>
  </div>

  <iframe
    width="420"
    height="345"
    src="https://www.youtube.com/embed/M0MjextiBIc"
  >
  </iframe>
</BaseLayout>
