<!--  
---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Elevator Pitch">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Personal Elevator Pitch</div>
    </div>

    <div class="aspect-w-16 aspect-h-9">
        <iframe class="w-full h-full" src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
    </div>

    <div class="flex justify-center items-center h-screen">
        <div class="w-1/2">
            <div class="aspect-w-16 aspect-h-9">
                <iframe class="w-full h-full" src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</BaseLayout>
-->

---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Personal Elevator Pitch</div>
  </div>
  
  <div class="w-1/2 mx-auto">
    <div class="bg-gray-300 w-full h-auto">
      <!-- Placeholder image -->
      
      <img src="https://placehold.co/600x400?text=This+Is+A+Placeholder+For+My+Video" alt="elevator pitch video">
    </div>
  </div>

</BaseLayout>

